# Ignore everything in this directory
VTK
compile_commands.json
run.log
**/polyMesh
**/*.bk
postProcessing
**/processor*/
**/[0-9.]*/
!**/0/
*.jpg
dynamicCode
structures
# Except this file
!.gitignore